{% extends 'base.html.twig' %}

{% block title %}Chantier index{% endblock %}

{% block body %}
    <h1>Chantier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>CodeChantier</th>
                <th>Adresse</th>
                <th>NIF</th>
                <th>STAT</th>
                <th>ContactClient</th>
                <th>ResponsableChantier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>
                <td>{{ chantier.id }}</td>
                <td>{{ chantier.Nom }}</td>
                <td>{{ chantier.CodeChantier }}</td>
                <td>{{ chantier.Adresse }}</td>
                <td>{{ chantier.NIF }}</td>
                <td>{{ chantier.STAT }}</td>
                <td>{{ chantier.ContactClient }}</td>
                <td>{{ chantier.ResponsableChantier }}</td>
                <td>
                    <a href="{{ path('app_chantier_show', {'id': chantier.id}) }}">show</a>
                    <a href="{{ path('app_chantier_edit', {'id': chantier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chantier_new') }}">Create new</a>
{% endblock %}
