{% extends 'base.html.twig' %}

{% block title %}Historique des factures{% endblock %}

{% block body %}
<div class="container mt-4">
<h1>Historique des factures</h1>

<table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Numéro</th>
            <th>Date</th>
            <th>Mois facturé</th>
            <th>Chantier</th>
            <th>PDF</th>
        </tr>
    </thead>
    <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.numero }}</td>
                <td>{{ facture.dateCreation|date('d/m/Y') }}</td>
                <td>{{ facture.moisFacture|date('F Y')|capitalize }}</td>
                <td>{{ facture.chantier.nom }}</td>
                <td>
                    <a href="{{ path('app_facture_view_pdf', {id: facture.id}) }}" class="btn btn-primary btn-sm" target="_blank">Voir PDF</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune facture générée.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
