<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
    <style>
        body { font-family: Arial, sans-serif; font-size: 12px; }
        .header, .client-info { display: flex; justify-content: space-between; }
        .header div, .client-info div { width: 45%; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        table, th, td { border: 1px solid black; }
        th, td { padding: 8px; text-align: center; }
        .totaux { margin-top: 20px; }
        .title-center { text-align: center; margin: 10px 0; font-weight: bold; margin-top: 60px; border:solid; }
        p.objet { margin-left: 60px; } 
        .bank-details { margin-top: 30px; }
        .bank-details table { width: auto; margin-top: 5px; }
        .bank-details th, .bank-details td { padding: 5px; border: 1px solid black; }
        .bank-details .bold { font-weight: bold; }
    </style>
</head>
<body>

<div class="header">
    <div>
        <strong>RENTAL ET MAINTENANCE EQUIPEMENT</strong><br>
        Lot IA 58 Ampatsakana Antananarivo 101 MADAGASCAR<br>
        NIF: 4018541489<br>
        STAT: 77396 11 2024 0 10536<br>
        CF: 0150053/DGI-L<br>
        Tél-Fax: 020 22 323 48<br>
        e-mail: 
    </div>
    <div style="position: absolute; top: 75px; right: 0; text-align: right;">
        Antananarivo, le {{ "now"|date('d/m/Y') }}
    </div>
</div>

<br>

<div class="client-info">
    <div style="position: absolute; top: 100px; right: 0; text-align: right;">
        {{ chantier.nom|upper }}<br>
        {{ chantier.adresse }}<br>
        101 Antananarivo Madagascar<br>
        NIF : {{ chantier.nif }}<br>
        STAT : {{ chantier.stat }}
    </div>
</div>

<br>

<div class="title-center">
    {{ facturee }}<br><br>
</div>

<p class="objet"><u>Objet :</u> LOCATION MATERIELS</p>

<p><u>Facture mois de :</u> {{ moisTexte|upper }}</p>

<table style="width: 100%; font-size: 10px; border-collapse: collapse; border: 1px solid black;">
    <thead>
        <tr>
            <th style="width: 30%; border: 1px solid black;">Libellé</th>
            <th style="width: 15%; border: 1px solid black;">Codes Affaires</th>
            <th style="width: 15%; border: 1px solid black;">Prix Unit.</th>
            <th style="width: 10%; border: 1px solid black;">Durée</th>
            <th style="width: 10%; border: 1px solid black;">Unité</th>
            <th style="width: 20%; border: 1px solid black;">Montant en MGA</th>
        </tr>
    </thead>
    <tbody>
        {% for affectation in affectations %}
            <tr>
                <td>{{ affectation.materiel.libelle }}</td>
                <td>{{ affectation.materiel.codeAffaire }}</td>
                <td>{{ affectation.materiel.prixUnitaire|number_format(0, ',', ' ') }} MGA</td>
                <td>{{ affectation.dureeUtilisation(mois) }}</td>
                <td>{{ affectation.materiel.unite }}</td>
                <td>{{ (affectation.materiel.prixUnitaire * affectation.getDureeUtilisation(mois))|number_format(0, ',', ' ') }} MGA</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5" style="text-align: right; border: 1px solid black;"><strong>MONTANT HTVA</strong> <br/> <strong>TVA 20%</strong></td>
            <td style="text-align: right; border: 1px solid black;"><strong>{{ totalHT|number_format(0, ',', ' ') }}</strong> <br/> <strong>{{ tva|number_format(0, ',', ' ') }}</strong></td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: right; border: 1px solid black;"><strong>MONTANT TTC</strong></td>
            <td style="text-align: right; border: 1px solid black;"><strong>{{ totalTTC|number_format(0, ',', ' ') }}</strong></td>
        </tr>
    </tbody>
</table>

<!-- Ligne "Arrêté à la somme de :" -->
<table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
    <tr>
        <td style="border: none; width: 30%; font-weight: bold;">Arrêté à la somme de :</td>
        <td style="border: 1px solid black; text-align: center; font-weight: bold; text-transform: uppercase;">
            {{ montantEnLettres }}
        </td>
    </tr>
</table>



<div class="bank-details" style="font-size: 7px; text-align: center; margin-top: 0px;">
    <p style="text-align: left;"><strong><u>Coordonnées bancaires:<u></strong></p>
    <table style="width: 40%;">
        <tr>
            <td colspan="4" style="text-align: left;"><strong>TITULAIRE :</strong> RENTAL ET MAINTENANCE EQUIPEMENT</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left;"><strong>BANQUE :</strong> BNI MADAGASCAR</td>
        </tr>
        <tr>
            <th>CODE BANQUE</th>
            <th>CODE GUICHET</th>
            <th>NUMERO DE COMPTE</th>
            <th>CLE</th>
        </tr>
        <tr>
            <td><strong>00005</strong></td>
            <td><strong>00007</strong></td>
            <td><strong>74192240001</strong></td>
            <td><strong>46</strong></td>
        </tr>
    </table>
    <p style="text-align: left; margin-top: 5px;"><strong>Échéance :</strong> 30 jours à la réception de la facture</p>
</div>

<div style="position: absolute; bottom: 130px; right: 40px; font-size: 10px;">
    <p> {{ facture.responsableMaintenance }} <br/>Responsable Maintenance </p> 
</div>

<footer style="position: fixed; bottom: 20px; width: 100%; text-align: center; font-size: 10px;">
    LOT I A 58 Ampatsakana Antananarivo 101<br>
    Tél : +261 20 22 323 48 E-mail : secoti@oti.mg Site web : www.oti-madagascar.net<br>
    STAT : 77306 11 2024 0 10536 RC : 2024 B 00522 NIF : 4018541489
</footer>


</body>

</html>
