{% extends 'base.html.twig' %}

{% block title %}Affectation {% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Liste des affectations</h1>

   <div class="d-flex justify-content-between mb-3">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_affectation_new') }}" class="btn btn-success">+ Nouvelle Affectation</a>
    {% endif %}
        <a href="{{ path('app_facture_index') }}" class="btn btn-success">Facturation</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Duree d'utilisation</th>
                <th>Mois de facturation</th>
                <th>Chantier</th>
                <th>Matériel</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Options</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for affectation in affectations %}
            <tr>
                <td>{{ affectation.id }}</td>
                <td>{{ affectation.dureeUtilisation }}</td>
                <td>{{ affectation.moisFacturation }}</td>
                <td>{{ affectation.chantier }}</td>
                <td>{{ affectation.materiel }}</td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}    
                    <a href="{{ path('app_affectation_edit', {'id': affectation.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    <form method="post" action="{{ path('app_affectation_delete', {'id': affectation.id}) }}"
                          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette affectation ?');"
                          style="display:inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affectation.id) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                {% endif %}    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune affectation trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
