{% extends 'base.html.twig' %}

{% block title %}Affectation {% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Liste des affectations</h1>

    <a href="{{ path('app_affectation_new') }}" class="btn btn-success mb-3">+ Nouvelle Affectation</a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Duree d'utilisation</th>
                <th>Mois de facturation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affectation in affectations %}
            <tr>
                <td>{{ affectation.id }}</td>
                <td>{{ affectation.dureeUtilisation }}</td>
                <td>{{ affectation.moisFacturation }}</td>
                <td>
                    
                    <a href="{{ path('app_affectation_edit', {'id': affectation.id}) }}">Modifier</a>
                    <form method="post" action="{{ path('app_affectation_delete', {'id': affectation.id}) }}"
                          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette affectation ?');"
                          style="display:inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affectation.id) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune affectation trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
